/*------------- BASE IMPORT -------------*/
@font-face {
  src: url("../../fonts/Stellar-Regular.otf");
  font-family: "Stellar"; }

@font-face {
  src: url("../../fonts/Reef.otf");
  font-family: "Reef"; }

html,
body {
  overflow-x: hidden;
  font-size: 12px;
  background-color: #F2F2F2; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
ol,
span {
  margin: 0;
  padding: 0; }

ul,
ol {
  list-style: none;
  padding-left: 0; }

input,
button {
  border: none; }
  input:focus,
  button:focus {
    outline: none; }

::-moz-selection {
  background-color: #F45C43;
  color: #ffffff; }

::selection {
  background-color: #F45C43;
  color: #ffffff; }

@media screen and (min-width: 768px) {
  html,
  body {
    font-size: 14px; } }

@media screen and (min-width: 992px) {
  html,
  body {
    font-size: 15px; } }

@media screen and (min-width: 1200px) {
  html,
  body {
    font-size: 16px; } }

/*------------- UTILITIES IMPORT -------------*/
/*------------- UTILITY CLASSES -------------*/
.shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

/*------------- MODULES IMPORT -------------*/
/*------------- TABLE OF CONTENTS -------------*/
/*

    1. HEADER
    2. OPCION

*/
/*------------- 1. HEADER -------------*/
.header {
  background: linear-gradient(45deg, #EB3349 0%, #EB3349 0%, #EB3349 0%, #F45C43 100%);
  padding: 0;
  color: #ffffff; }
  .header__title-wrapper {
    text-align: center;
    position: relative;
    border-bottom: 1px solid #F2F2F2;
    padding: 1rem 1.5625rem; }
  .header__title {
    display: inline-block;
    font-size: 1.25rem;
    font-family: "Reef", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .header__arrow {
    position: absolute;
    top: 50%;
    left: 1.5625rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer; }
  .header__content {
    padding: 1rem 1.5625rem; }
  .header__caligrafia {
    text-align: center; }
    .header__caligrafia-tema-wrapper, .header__caligrafia-puntaje-wrapper {
      display: inline-block;
      text-align: center; }
    .header__caligrafia-tema-wrapper {
      padding: 0 1.25rem 0 0;
      border-right: 1px solid #F2F2F2; }
    .header__caligrafia-puntaje-wrapper {
      padding: 0 0 0 1.25rem; }
    .header__caligrafia-label {
      font-family: "Reef", sans-serif;
      font-size: 2rem;
      color: #F2F2F2;
      margin-bottom: 0.3rem; }
    .header__caligrafia-valor {
      font-family: "Reef", sans-serif;
      font-size: 1.25rem;
      color: #F2F2F2;
      text-transform: uppercase;
      letter-spacing: 1px; }

/*------------- 2. OPCION -------------*/
.opcion {
  padding: 1.5rem 1.5625rem 0 1.5625rem;
  position: relative; }
  .opcion__trazado {
    position: relative;
    background-color: #ffffff;
    height: 400px;
    border-radius: 0.5rem; }
    .opcion__trazado-pronunciar {
      position: absolute;
      z-index: 3;
      top: 1rem;
      right: 1rem;
      width: 2rem;
      height: 2rem;
      background: linear-gradient(45deg, #EB3349 0%, #EB3349 0%, #EB3349 0%, #F45C43 100%);
      border-radius: 100%;
      cursor: pointer;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
      .opcion__trazado-pronunciar-icon {
        position: absolute;
        top: 50%;
        left: 60%;
        -webkit-transform: translate(-60%, -50%);
        -ms-transform: translate(-60%, -50%);
        transform: translate(-60%, -50%);
        color: #ffffff; }
    .opcion__trazado-caracter {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 20rem;
      font-family: "Noto Sans", sans-serif;
      color: #EB3349; }
  .opcion__pregunta-titulo {
    font-family: "Reef", sans-serif;
    font-size: 2rem;
    margin: 1.5rem 0;
    color: #4F505A; }
    @media screen and (min-width: 768px) {
      .opcion__pregunta-titulo {
        font-size: 2rem; } }
  .opcion__info {
    background-color: #ffffff;
    border-radius: 0.5rem;
    margin-top: 2rem; }
    .opcion__info-item {
      display: inline-block;
      float: left;
      padding: 1rem 0;
      width: 33.33%;
      height: 100%;
      min-height: 68px;
      text-align: center; }
      .opcion__info-item + .opcion__info-item {
        border-left: 1px solid #F2F2F2; }
      .opcion__info-item-titulo {
        color: #EB3349;
        font-family: "Reef", sans-serif;
        font-size: 1.5rem; }
      .opcion__info-item-valor {
        font-family: #4F505A;
        font-size: 1.5rem;
        color: #4F505A;
        margin-top: 1.5rem; }
  .opcion__agregar {
    text-align: center;
    background: linear-gradient(45deg, #EB3349 0%, #EB3349 0%, #EB3349 0%, #F45C43 100%);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 1rem;
    color: #ffffff;
    font-family: "Reef", sans-serif;
    cursor: pointer; }
  .opcion__pronunciacion {
    cursor: pointer;
    margin: 0 auto;
    border-radius: 100%;
    width: 3.5rem;
    height: 3.5rem;
    position: relative;
    border: 3px solid #EB3349; }
    .opcion__pronunciacion-icon {
      color: #EB3349;
      position: absolute;
      top: 50%;
      left: 60%;
      -webkit-transform: translate(-60%, -50%);
      -ms-transform: translate(-60%, -50%);
      transform: translate(-60%, -50%);
      font-size: 1.5rem; }
  .opcion__item {
    font-family: #4F505A;
    font-size: 1.125rem;
    color: #4F505A;
    transition: all .25s;
    cursor: pointer;
    padding: 0.5rem 0.5rem 0.5rem 0;
    font-weight: 400;
    border-radius: 0.2rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: #ffffff;
    padding: 1rem 1rem 1rem 2rem; }
    .opcion__item + .opcion__item {
      margin-top: 1rem; }
    .opcion__item--selected {
      background: linear-gradient(45deg, #EB3349 0%, #EB3349 0%, #EB3349 0%, #F45C43 100%);
      color: #ffffff; }
    .opcion__item:last-child {
      margin-bottom: 2rem; }
  .opcion__acciones {
    width: 100%; }
    .opcion__acciones-btn {
      font-family: "Reef", sans-serif;
      font-size: 1.5rem;
      padding: 0;
      outline: none;
      border: 0;
      width: 50%;
      float: left;
      height: 50px; }
      .opcion__acciones-btn--line {
        background-color: transparent;
        border: 2px solid #EB3349;
        border-bottom-left-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
        color: #EB3349; }
      .opcion__acciones-btn--full {
        background: linear-gradient(45deg, #EB3349 0%, #EB3349 0%, #EB3349 0%, #F45C43 100%);
        border-bottom-right-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        color: #ffffff; }
  .opcion__mensaje {
    font-size: 2rem;
    color: #ffffff;
    font-family: "Reef", sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em; }
    .opcion__mensaje-wrapper {
      position: absolute;
      z-index: 4;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
      transform: translate(-50%, -50%) scale(0);
      width: 80%;
      padding: 3rem 2rem;
      background: linear-gradient(45deg, #EB3349 0%, #EB3349 0%, #EB3349 0%, #F45C43 100%);
      border-radius: 0.5rem;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      opacity: 0;
      transition: all .25s; }
      .opcion__mensaje-wrapper--active {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1); }
  .opcion__progreso {
    margin-top: 1rem;
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    border-radius: 3px;
    position: relative;
    margin-bottom: 2rem; }
    .opcion__progreso-completado {
      position: absolute;
      top: 0;
      left: 0;
      width: 60%;
      background: linear-gradient(45deg, #EB3349 0%, #EB3349 0%, #EB3349 0%, #F45C43 100%);
      height: 5px;
      border-radius: 3px; }
